.AmountBox_wrapper_ {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.AmountBox_wrapper_input input {
    border: none;
    outline: none;
    font-size: 16px;
    background: none;
}

.AmountBox_wrapper_input {
    display: flex;
    border: 1px solid;
    padding: 15px 0px;
    margin: 10px 300px;
    border: none;
    background: #ccc;
    border-radius: 8px;
    justify-content: space-evenly;
}

.AmountBox_wrapper_input div:last-child {
    color: blue;
    cursor: pointer;
}

.AmountBox_wrapper_receive {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.AmountBox_wrapper_ button {
    margin: 10px 300px;
    padding: 20px 0px;
    border: none;
    background: rgb(33, 33, 217);
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

@media(max-width: 1000px) {
    .AmountBox_wrapper_input {
        padding: 15px 10px;
        margin: 10px 160px;
        justify-content: space-between;
    }
    .AmountBox_wrapper_receive {
        justify-content: space-around;
    }
    .AmountBox_wrapper_ button {
        margin: 10px 160px;
        padding: 20px 0px;
    }
}

@media(max-width: 768px) {
    .AmountBox_wrapper_ {
        border: 2px solid #ccc;
        padding: 30px 10px;
        background: #1134;
        border-radius: 8px;
    }
    .AmountBox_wrapper_input {
        margin: 10px 0px;
        background: #fff;
        justify-content: space-between;
    }
    .AmountBox_wrapper_receive {
        justify-content: space-between;
    }
    .AmountBox_wrapper_ button {
        margin: 10px 0px;
    }
}