.service_wrapper {
    margin-top: 60px; 
}

.service_wrapper_div_first_child {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-evenly;
}

.service_wrapper_div_first_child div:first-child div a,
.service_wrapper_div_middle_child div a,
.service_wrapper_div_first_child div:last-child div a {
    text-decoration: none;
    color: black;
}

.service_wrapper_div_first_child div:first-child,
.service_wrapper_div_first_child div:last-child,
.service_wrapper_div_middle_child {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.service_wrapper_icon {
    font-size: x-large;
    color: blue;
}

@media(max-width: 768px) {
    .service_wrapper_div_first_child {
        justify-content: space-between;
    }
}