.advertiserTerms_wrapper {
    padding: 0px 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.advertiserTerms_wrapper h4 {
    text-align: start;
    margin-top: 50px;
}

.advertiserTerms_wrapper div:first-child {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.advertiserTerms_wrapper_username,
.advertiserTerms_wrapper_orderCompleted {
    display: flex;
    margin: 30px 0px;
    justify-content: space-between;
}

@media(max-width: 1000px) {
    .advertiserTerms_wrapper {
        padding: 0px 160px;
    }
}

@media(max-width: 1000px) {
    .advertiserTerms_wrapper {
        padding: 0px 0px;
    }
}