.AsideSideDrawer_wrapper_ {
    background: #fff;
    box-shadow: 0 4px 8px 0 #ccc;
    width: 60%;
    height: 1000vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.AsideSideDrawer_wrapper_ a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(75, 74, 74);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px 0px;
}

.AsideSideDrawer_wrapper_ a div {
    padding-left: 20px;
}

.AsideSideDrawer_wrapper_ a:hover {
    background: #ccc;
    border-radius: 8px;
    padding: 10px;
}

@media(min-width: 769px) {
    .AsideSideDrawer_wrapper_ {
        display: none;
    }
}