.top_wrapper div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.top_wrapper div a {
    text-decoration: none;
    color: black;
}

@media(max-width: 540px) {
    .top_wrapper div {
        justify-content: space-between;
    }
}

@media(min-width: 769px) {
    .top_wrapper {
        position: relative;
        margin-top: -20em;
    }

    .top_wrapper div {
        justify-content: space-evenly;
    }
}

@media(max-width: 768px) {
    .top_wrapper {
        position: relative;
        margin-top: 3em;
    }
}