.bottomNav_wrapper {
    position: fixed;
    width: 100%;
    text-align: center;
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    background-color: #fff;
    border-top: 1.5px solid #ccc;
    bottom: 0;
    left: 0;
    z-index: 4;
    padding: 10px 0px;
}

.bottomNav_wrapper a {
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.bottomNav_wrapper a.active {
    color: blue;
    border-bottom: 2px solid rgb(9, 9, 205);
}