.asideSideDrawer_backdrop_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000vh;
    background: rgba(0, 0, 0, 0.5);
}

.asideSideDrawer_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.asideSideDrawer_wrapper div:last-child {
    font-size: x-large;
}

@media(min-width: 769px) {
    .asideSideDrawer_wrapper {
        display: none;
    }
}

@media(max-width: 768px) {
    .asideSideDrawer_wrapper {
        justify-content: space-between; 
        border: none;
        background: none;
        text-transform: none;
        margin-top: 50px;
    }
}