.selectCoin_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid; */
    padding: 8px;
}

.selectCoin_wrapper div:first-child {
    display: flex;
    align-items: center;
}

.selectCoin_wrapper div img {
    width: 20px;
    height: 20px;
}