.register_wrapper {
    margin-top: 10em;
}

.register_wrapper h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #827e7e;
    font-weight: none;
    font-size: x-large;
}

.register_wrapper form div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register_wrapper form div:first-child input {
    width: 30%;
    padding: 13px 8px;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    border: 0.5px solid #ccc;
    margin: 10px 0px;
}

.register_wrapper_show_eye {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: larger;
    cursor: pointer;
}

.register_wrapper form div:first-child button {
    padding: 14px 10px;
    width: 31%;
    color: #fff;
    font-size: medium;
    border: none;
    cursor: pointer;
    margin: 10px 0px;
    border-radius: 8px;
    background-color: rgb(50, 50, 239);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.register_wrapper ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.register_wrapper ul a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.register_wrapper ul a:hover {
    text-decoration: underline;
}

@media(max-width: 767px) {
    .register_wrapper form div:first-child input {
        width: 95%;
    }
    .register_wrapper form div:first-child button {
        width: 100%;
    }
}