.currency_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.currency_wrapper ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.currency_wrapper ul a {
    text-decoration: none;
    color: black;
    margin-top: 0px;
    margin-right: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.currency_wrapper select {
    display: flex;
    padding: 5px 10px;
    border-radius: 8px;
    background-color: #fff;
}

@media(768px) {
    .currency_wrapper {
        justify-content: space-between;
    }
}