.dashboardHeading_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: -23em 0em;
}

/* .dashboardHeading_wrapper_div_first_child  {
    display: flex;
    cursor: pointer;
    font-size: 1.1em;
    padding-bottom: 50px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    justify-content: space-around;
} */

.dasboardHeading_wrapper_div_last_child {
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    font-size: 1.1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dasboardHeading_wrapper_div_last_child div:first-child {
    display: flex;
    align-items: center;
}

.dashboardHeading_bottom_icon {
    margin: 0px 10px;
}

@media(max-width: 768px) {
    .dashboardHeading_wrapper {
        /* justify-content: space-between; */
        margin-top: 5em;
    }

    .dasboardHeading_wrapper_div_last_child {
        justify-content: space-between;
    }
}

@media(min-width: 769px) {
    .dashboardHeading_wrapper {
        margin-top: -20em;
    }
}

@media(min-width: 1000px) {
    .dashboardHeading_wrapper {
        /* margin-top: -20em; */
    }
}