.amount_wrapper_p2p div:first-child {
    display: flex;
    align-items: center;
    border: none;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 20px;
    background: #1155;
    border-radius: 8px;
    /* color: #fff; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.amount_wrapper_p2p div:first-child input {
    border: none;
    background: none;
    outline: none;
    font-size: 16px;
}

.amount_wrapper_p2p div:last-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.amount_wrapper_p2p div:last-child input {
    background: none;
    outline: none;
    font-size: 16px;
    margin: 20px;
    padding: 10px 100px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgba(24, 24, 26, 0.8);
}

.amount_wrapper_p2p div:last-child button {
    background: rgb(37, 37, 205);
    color: #fff;
    outline: none;
    font-size: 16px;
    margin: 20px;
    padding: 10px 100px;
    border-radius: 8px;
    text-align: center;
    border: none;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media(max-width: 1085px) {
    .amount_wrapper_p2p div:first-child {
        justify-content: space-around;
        padding: 20px 0px;
    }
}

@media(max-width: 1411px) {
    .amount_wrapper_p2p div:last-child input {
        padding: 10px 60px;
    }

    .amount_wrapper_p2p div:last-child button {
        padding: 10px 60px;
    }    
}

@media(max-width: 1262px) {
    .amount_wrapper_p2p div:last-child input {
        padding: 10px 40px;
    }

    .amount_wrapper_p2p div:last-child button {
        padding: 10px 40px;
    }    
}

@media(max-width: 1158px) {
    .amount_wrapper_p2p div:last-child input {
        padding: 10px 20px;
    }

    .amount_wrapper_p2p div:last-child button {
        padding: 10px 20px;
    }    
}

@media(max-width: 768px) {
    .amount_wrapper_p2p div:last-child input {
        padding: 10px 100px;
    }

    .amount_wrapper_p2p div:last-child button {
        padding: 10px 100px;
    }    
}

@media(max-width: 619px) {
    .amount_wrapper_p2p div:last-child input {
        padding: 10px 60px;
    }

    .amount_wrapper_p2p div:last-child button {
        padding: 10px 60px;
    }    
}

@media(max-width: 499px) {
    .amount_wrapper_p2p div:last-child input {
        padding: 10px 20px;
    }

    .amount_wrapper_p2p div:last-child button {
        padding: 10px 20px;
    }    
}