.accountList_wrapper_account {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.accountList_wrapper_account div:first-child {
    text-align: start;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* border: 1px solid; */
    padding: 10px 0px;
    border-bottom: 2px solid;
}