.heading__wrapper {
    display: flex;
    margin-top: 1em;
    align-items: center;
    justify-content: space-around;
}

.heading__wrapper div {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: flex-start;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.heading__wrapper div h1 {
    color: rgba(35, 32, 32, 1);
}

.heading__wrapper div p {
    color: #656161;
    font-size:large;
}

.heading__wrapper div button {
    padding: 20px 25px;
    margin: 20px 0px;
    text-align: center;
    background-color: blue;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.heading__wrapper img {
    width: 450px;
    height: 450px;
}

@media(max-width: 767px) {
    .heading__wrapper {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        justify-content: space-evenly;
    }

    /* .heading__wrapper div h1 {
        font-size: larger;
    } */

    /* .heading__wrapper img {
        width: 350px;
        height: 350px;
    } */
}

@media(max-width: 450px) {
    body {
        margin: 0px 0px;
    }

    .heading__wrapper {
        justify-content: center;
    }
    .heading__wrapper div { 
        align-items: center;
    }

    .heading__wrapper div h1 {
        text-align: center;
    }

    .heading__wrapper div p {
        text-align: center;
    }

    /* .heading__wrapper img {
        width: 300px;
        height: 300px;
    } */
}
