.purchaseDetails_purchase_wrapper_ {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.purchaseDetails_purchase_wrapper_price {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
}

.purchaseDetails_purchase_wrapper_quantity,
.purchaseDetails_purchase_wrapper_paymethod_method,
.purchaseDetails_purchase_wrapper_payment_duration {
    display: flex;
    /* align-items: start; */
    justify-content: space-around;
}

@media(max-width: 910px) {
    .purchaseDetails_purchase_wrapper_price {
        justify-content: space-evenly;
    }

    .purchaseDetails_purchase_wrapper_quantity,
    .purchaseDetails_purchase_wrapper_paymethod_method,
    .purchaseDetails_purchase_wrapper_payment_duration {
        justify-content: space-evenly;
    }   
}

@media(max-width: 768px) {
    .purchaseDetails_purchase_wrapper_price {
        justify-content: space-between;
    }

    .purchaseDetails_purchase_wrapper_quantity,
    .purchaseDetails_purchase_wrapper_paymethod_method,
    .purchaseDetails_purchase_wrapper_payment_duration {
        /* border: 11px solid; */
        justify-content: space-between;
    }
}