.postAds_wrapper-inner {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 6;
    background: #fff;
    height: 100vh;
    width: 30%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.postAds_wrapper-inner p {
    text-align: start;
    padding: 10px;
}

.postAds_wrapper-inner_div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.postAds_wrapper-inner_div button {
    padding: 7px;
    margin: 0px 10px;
    width: 100%;
    border: none;
    background: #eee;
    cursor: pointer;
}

.postAds_wrapper_asset_fiat {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postAds_wrapper_asset_fiat div:first-child {
    padding: 10px;
    display: flex;
    align-items: start;
    flex-direction: column;
}

.postAds_wrapper_asset_fiat div:first-child div {
    display: flex;
    align-items: center;
    flex-direction: row;
    background: #eee;
    border-radius: 10px;
}

.postAds_wrapper_asset_fiat div:first-child div div {
    border: none;
    font-size: 15px;
    padding: 0px 30px;
    background: none;
}

.postAds_wrapper_asset_fiat div:last-child {
    padding: 10px;
    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: flex-end;
}

.postAds_wrapper_asset_fiat div:last-child div {
    border: none;
    border-radius: 8px;
    padding: 10px 50px;
    background: #eee;
}

.postAds_wrapper_fixed_wrapper label {
    display: flex;
    align-items: start;
    padding: 10px;
}

.postAds_wrapper_fixed_wrapper_div_first-child {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: none;
    padding: 0px;
    border-radius: 8px;
    box-sizing: border-box;
    margin: 0px 10px;
    background: #eee;
}

.postAds_wrapper_fixed_wrapper_div_first-child div {
    font-size: x-large;
}

.postAds_wrapper_fixed_wrapper_div_first-child input {
    padding: 10px 20px;
    text-align: center;
    width: 70%;
    border: none;
    outline: none;
    background: #eee;
}

.postAds_wrapper_fixed_wrapper div:last-child {
    text-align: start;
    padding: 10px;
}

.postAds_wrapper-inner_button {
    text-align: start;
    border: none;
}

.postAds_wrapper-inner_button button {
    position: fixed;
    bottom: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 100px;
    padding: 15px 0px;
    width: 27.5%;
    text-align: center;
    border: none;
    background: blue;
    color: #fff;
    border-radius: 9px;
}

.postAds_wrapper_paymethod_wrapper {
    position: fixed;
    right: 0;
    top: 0;
    background: #fff;
    z-index: 6;
    width: 40%;
    height: 150vh;
    padding-top: 350px;
}

.postAds_wrapper_paymethod_wrapper button {
    border: none;
    color: #fff;
    cursor: pointer;
    text-align: center;
    border-radius: 8px;
    background: blue;
    margin: 50px 0px;
    padding: 20px 220px;
}

@media(max-width: 1300px) {
    .postAds_wrapper_paymethod_wrapper {
        width: 50%;
    }
}

@media(max-width: 1095px) {
    .postAds_wrapper_paymethod_wrapper {
        width: 60%;
    }
}

@media(max-width: 860px) {
    .postAds_wrapper_paymethod_wrapper {
        width: 80%;
    }
}

@media(max-width: 768px) {
    .postAds_wrapper-inner {
        width: 60%;
    }
    .postAds_wrapper-inner_button button { 
        width: 55%;
    }
    .postAds_wrapper_paymethod_wrapper {
        width: 90%;
        padding-top: 0px;
    }
    .postAds_wrapper_paymethod_wrapper button {
        margin: 80px 0px;
    }
}

@media(max-width: 600px) {
    .postAds_wrapper_paymethod_wrapper {
        width: 100%;
        height: 300vh;
    }
    .postAds_wrapper_paymethod_wrapper button {
        margin: 10px 0px;
    }
}

@media(max-width: 500px) {
    .postAds_wrapper-inner {
        width: 100%;
        height: 550vh;
    }
    .postAds_wrapper-inner_button button { 
        width: 92%;
    }
    .postAds_wrapper_paymethod_wrapper button {
        margin: 50px 0px;
        padding: 20px 200px;
    }
}