.auth_side_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.auth_side_wrapper button {
    border: none;
    background: none;
}

.auth_side_wrapper button a {
    color: #101310;
    text-decoration: none;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.auth_side_wrapper div button {
    padding: 8px 16px;
    color: #fff;
    background: blue;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.auth_side_icon {
    font-size: x-large;
}

@media(max-width: 767px) {
    /* .auth_side_wrapper button,
    .auth_side_wrapper div button, */
    .auth_side_icon {
        display: none;
    }

    .auth_side_wrapper button a {
        font-size: small;
        white-space: nowrap;
        letter-spacing: -1px;
    }

    .auth_side_wrapper button {
        background: #ccc;
        border-radius: 5px;
        border: none;
        padding: 6px 10px;
    }

    .auth_side_wrapper div button {
        padding: 8px 16px;
    }

    .auth_side_wrapper div a button {
        margin: 0px;
        /* padding:  */
    }
}