.setMyAds_wrapper {
    position: fixed;
    z-index: 6;
    right: 0;
    height: 1000vh;
    width: 40%;
    background: #f9f8f8;
    border-radius: 9px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.setMyAds_wrapper_caution {
    display: flex;
    align-items: center;
    background: rgba(255, 165, 0, 0.2);
}

.setMyAds_wrapper_caution p:first-child {
    background: rgba(255, 165, 0, 0.4);;
    padding: 3px 10px;
    border-radius: 20px;
    margin: 0px 10px;
}

.setMyAds_wrapper_caution p:last-child {
    border-radius: 5px;
    margin-right: 20px;
    font-size: smaller;
}

.setMyAds_wrapper_div_second {
    display: flex;
    padding: 0px 30px;
    align-items: center;
    justify-content: space-between;
}

.setMyAds_wrapper_div_second p:last-child {
    background: #ccc;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
}

.setMyAds_wrapper_last {
    display: flex;
    align-items: start;
    flex-direction: column;
    margin: 0px 30px;
}

.setMyAds_wrapper_last input {
    margin: 10px 0px;
    width: 96.5%;
    padding: 12px 8px;
    outline: none;
    font-size: 16px;
    border-radius: 9px;
}

.setMyAds_wrapper_character {
    text-align: end;
    margin: 0px 30px;
}

.setMyAds_wrapper_button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}

.setMyAds_wrapper_button button {
    position: fixed;
    bottom: 0;
    width: 36%;
    color: #fff;
    padding: 15px 0px;
    margin: 7px 0px;
    border: none;
    background: blue;
    border-radius: 8px;
    cursor: pointer;
}

@media(max-width: 768px) {
    .setMyAds_wrapper {
        width: 60%;
        top: 0;
        margin: 20px 0px;
    }
    .setMyAds_wrapper_button button {
        width: 52%;
    }
}

@media(max-width: 590px) {
    .setMyAds_wrapper {
        width: 70%;
    }
    .setMyAds_wrapper_button button {
        width: 60%;
    }
}

@media(max-width: 500px) {
    .setMyAds_wrapper {
        width: 100%;
        margin: 50px 0px;
    }
    .setMyAds_wrapper_button button {
        width: 90%;
    }
}