.MyAds_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.MyAds_wrapper_post_now {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.MyAds_wrapper div {
    border: none;
    padding: 5px 10px;
    border-radius: 18px;
    background: #ccc;
    cursor: pointer;
}

.MyAds_wrapper_post_now div {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ccc;
    padding: 7px 70px;
    border-radius: 8px;
    cursor: pointer;
}

@media(max-width: 768px) {
    .MyAds_wrapper {
        justify-content: space-between;
    }
}

@media(max-width: 400px) {
    .MyAds_wrapper_post_now div {
        padding: 7px 50px;
    }
}

@media(max-width: 345px) {
    .MyAds_wrapper_post_now div {
        padding: 7px 30px;
    }
}