.header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
}

.header_logo_wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0px 40px;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

.header_button_wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header_button_wrapper div {
    display: flex;
    align-items: center;
    margin: 0px 30px;
    cursor: pointer;
}

.header_icon_menu {
    margin-right: 40px;
    font-size: 20px;
}


.header_button_btn_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial Narrow', Arial, sans-serif;
    padding: 5px 10px;
    background: #0000ff;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    border: none;
}

.header_button_btn_wrapper button {
    background: blue;
    border: none;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
}

@media(max-width: 766px) {
    .header_wrapper {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    /* .header_button_wrapper div {
        display: none;
        border: 1px solid;
    } */

    .header_button_btn_wrapper,
    .header_trade_wrapper {
        display: none;
    }

    .header_icon_menu {
        margin-left: 20px;
        font-size: 30px;
    }
}

@media(min-width: 768px) {
    .header_icon_menu {
        display: none
    }
}