.loginPage_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 7em;
    /* border: 1px solid; */
    position: fixed;
    width: 100%;
}

.loginPage_wrapper ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.loginPage_wrapper ul a { 
    color: blue;
    text-decoration: none;
    margin-right: 80px;
}

.loginPage_wrapper ul a:hover {
    text-decoration: underline;
}

.loginPage_wrapper p {
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.loginPage_wrapper input {
    padding: 15px 10px;
    margin: 10px 0px;
    width: 35%;
    font-size: 16px;
    border-radius: 5px;
    border: 0.5px solid #ccc;
    outline: none;
}

@media(max-width: 1114px) {
    .loginPage_wrapper input {
        width: 40%;
    }
}

@media(max-width: 1000px) {
    .loginPage_wrapper input {
        width: 50%;
    }
}

@media(max-width: 767px) {
    .loginPage_wrapper {
        margin-top: 200px;
        margin-right: 0px;
        width: 90%;
    }

    .loginPage_wrapper input {
        width: 70%;
    }

    .loginPage_wrapper ul a {
        margin-right: 50px;
    }
}

@media(max-width: 500px) {
    .loginPage_wrapper {
        margin-top: 6em;
    }
    .loginPage_wrapper input {
        width: 100%;
    }
    .loginPage_wrapper ul a {
        margin-right: 30px;
    }
}

@media(max-width: 378px) {
    .loginPage_wrapper ul a {
        margin-right: 10px;
    }
}