.loading_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 15em; */
    position: relative;
    z-index: 5;
}

.loading_loader {
  width: 64px;
  height: 48px;
  position: relative;
  animation: split 1s ease-in infinite alternate;
}

.loading_loader::before , .loading_loader::after {
  content: '';
  position: absolute;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  left: 0;
  top: 0;
  transform: translateX(-10px);
  background: blue;
  opacity: 0.75;
  backdrop-filter: blur(20px);
}

.loading_loader::after {
  left: auto;
  right: 0;
  background: #f0cbcb;
  transform: translateX(10px);
}

@keyframes split {
 0% , 25%{ width: 64px }
 100%{ width: 148px }
}