.box-wrapper_ {
    border: 1px solid;
    /* padding: 20px 0px; */
    border-radius: 8px;
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-right: 25rem;
    margin-left: 22rem;
    position: relative;
    z-index: 4;
    background: #fdfcfc9e;
    border: none;
}



@media(max-width: 1052px) {
    .box-wrapper_ {
        margin-top: 0rem;
        margin-bottom: 0rem;
        margin-right: 12rem;
        margin-left: 12rem;
    }
}

@media(max-width: 1000px) {
    .box-wrapper_ {
        margin-top: 0rem;
        margin-bottom: 0rem;
        margin-right: 8rem;
        margin-left: 12rem;
    }
}

@media(max-width: 768px) {
    .box-wrapper_ {
        margin-top: 0rem;
        margin-bottom: 0rem;
        margin-right: 0rem;
        margin-left: 0rem;
    }
}