.sideDrawer_wrapper {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    right: 0;
    top: 0;
}

.sideDrawer_close {
    border: 1px solid;
    text-align: end;
    font-size: x-large;
}

.sideDrawer_wrapper ul {
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 4px 8px 0px #1134;
    height: 100vh;
    width: 250px;
}

.sideDrawer_wrapper ul a {
    padding: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.sideDrawer_wrapper ul a:hover {
    border-radius: 5px;
    padding: 10px;
    background: #ccc;
    width: 80%;
}