.placeOrdersList_wrapper_wrapper_container {
    display: flex; 
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
}

.placeOrdersList_wrapper {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.placeOrdersList_wrapper_name {
    display: flex;
    align-items: center;
}

.placeOrderList_wrapper_div_first_child {
    color: #ccc;
    border: none;
    padding: 4px 7px;
    /* margin: 5px 20px; */
    border-radius: 20px;
    background: rgb(75, 75, 215);
}

.placeOrdersList_wrapper_orders_button {
    display: flex; 
    justify-content: flex-end;
    flex-direction: column;
}

.placeOrdersList_wrapper_orders_button button {
    border: none;
    color: #fff;
    border-radius: 6px;
    padding: 7px 20px;
    cursor: pointer;
    margin: 20px 0px;
    background: rgb(61, 61, 243);
}

.placeOrdersList_wrapper_price {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.placeOrdersList_wrapper_price div:first-child {
    font-size: large;
}

.placeOrdersList_wrapper_price_second_div {
    font-size: smaller;
}

@media(max-width: 768px) {
    .placeOrdersList_wrapper_wrapper_container {
        justify-content: space-between;
        margin-bottom: 30px;
    }
}