.authBtn_btn {
    display: flex;
    justify-content: center;
    width: 90rem;
}

.authBtn_btn button {
    width: 30%;
    padding: 12px 0px;
    margin: 10px 0px;
    border: none;
    border-radius: 8px;
    background: rgb(36, 36, 229);
    color: #fff;
    font-size: large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

@media(max-width: 767px) { 
    .authBtn_btn {
        display: flex;
        justify-content: center;
        width: 250%;
        margin-right: 0px;
    }
}

@media(max-width: 400px) { 
    .authBtn_btn {
        width: 355%;
        margin-right: 0px;
    }
}