.wallet_wrapper_wrapper {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    margin-top: 25em;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wallet_wrapper_button button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background: blue;
    color: #fff;
    cursor: pointer;
}

.wallet_wrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.wallet_wrapper_total_assets {
    display: flex;
    align-items: center;
}

.wallet_wrapper div:last-child {
    display: flex;
    align-items: center;
}

.wallet_wrapper_wallet_coin_wrapper div:first-child,
.wallet_wrapper_wallet_coin_wrapper div:last-child,
.wallet_wrapper_wallet_ETH_USDT {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media(max-width: 768px) {
    .wallet_wrapper_wrapper {
        justify-content: space-between; 
        margin-top: 24em;
    }
    .wallet_wrapper_wallet_coin_wrapper div:first-child,
    .wallet_wrapper_wallet_coin_wrapper div:last-child,
    .wallet_wrapper_wallet_ETH_USDT {
        padding: 10px 0px;
        justify-content: space-between;
    }
}