.model_backdrop_wrapper {
    background: rgba(0, 0, 0, 0.3);
    height: 1000vh;
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;
}

.model_wrapper_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.model_wrapper {
    border: 2px solid;
    /* margin: 0em 30em; */
    width: 35%;
    position: fixed;
    /* top: 0; */
    z-index: 5;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background: rgba(24, 77, 210, 0.81);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.model_wrapper_div_first_child {
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.model_wrapper_icon {
    font-size: larger;
}

.model_wrapper_crypto_wrapper {
    display: flex;
    padding: 20px 10px;
    /* align-items: center; */
    flex-direction: column;
    border: none;
    /* justify-content: space-around; */
}

.model_wrapper_p2p_wrapper {
    display: flex;
    align-items: center;
    flex-direction: column
}

.model_wrapper_p2p_wrapper div {
    border: 1px solid;
    border-radius: 6px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.model_wrapper_p2p_wrapper div div {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 20px;
}

.model_wrapper_deposit_wrapper {
    display: flex;
    align-items: center;
    flex-direction: column
}

.model_wrapper_deposit_wrapper div {
    border: 1px solid;
    border-radius: 6px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.model_wrapper_deposit_wrapper div div {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 20px;
}

@media(max-width: 768px) {
    .model_wrapper {
        /* margin: 0em 2em; */
        width: 70%;
        /* position: fixed; */
        /* bottom: 0; */
    }
}

@media(max-width: 490px) {
    .model_wrapper {
        /* margin: 0em -.3em; */
        width: 80%;
        bottom: 0;
        position: fixed;
        border-radius: 20px 20px 0px 0px;
    }
}