.aside_wrapper {
    width: 15%;
    height: 50vh;
    /* border-right: 1px solid black; */
}

.aside_wrapper a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(75, 74, 74);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px 0px;
}

.aside_wrapper a:hover {
    background: #ccc;
    border-radius: 8px;
    padding: 10px;
}

.aside_wrapper a div {
    padding-left: 20px;
}

@media(max-width: 768px) {
    .aside_wrapper {
        display: none;
    }
}